@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");


/*
#132541 
#E87A64
*/
/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: #0c1420 ;
}

a {
  text-decoration: none;
  color: rgb(3, 155, 155);
}

a:hover {
  color: rgba(249, 105, 14, 1);
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5em 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom:5rem ;
}
/* header */

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}


nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  
}

.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line2 {
  width: 30px;
  height: 3px;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: rgba(249, 105, 14, 1);
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Landing Page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      #132541 10%,
      #E87A64 100%
    ),
    url("images/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 78rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 42ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color: rgba(249, 105, 14, 1);
  }
  100% {
    width: 42ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: rgba(249, 105, 14, 1);
  background: linear-gradient(
    to right,
    #f9690e 0%,
    #3e1963 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 9px;
  background: #132541;
  border-radius: 2rem;
  color: #E87A64;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #132541;
  background-color: #E87A64;
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: rgba(189, 72, 0);
}

/* About */

.about {
  padding-top: rem;
  width: 100%;
  min-height: 80vh;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 3rem;
}

.card_container {
  perspective: 50rem;
  transform-style: preserve-3d;
  align-items: center;
  min-height: 20vh;
  margin: 2rem;
}
.card_container .card {
  cursor: pointer;
  border-radius: 0.125em;
  width: 30vh;
  transition: transform 300ms ease;
}
.card_container:hover .card {
  transform: rotate3d(var(--x), var(--y), 3, 25deg);
}

.card img {
  height: auto;
  width: auto;
  margin: auto;
  box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
  border-radius: 10%;
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 1rem;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #E87A64;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

/* Projects */

.projects {
  padding: 3rem 0;
  padding-bottom: 0rem;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img{
  flex: 1;
}

.project-img img {
  box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
  border-radius: 10%;
  width: 70%;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

/* Certificate */

.certification {
  padding: 3rem 0;
  min-height: 50vh;
  max-width: 70rem;
  margin: auto;
}

.cards-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5rem;
}

.cert-card {
    width: 250px;
    height: 210px;
    background: linear-gradient(
    35deg,
    rgb(153, 65, 10) 30%,
    rgb(255, 255, 255) 100%
  );
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0.01;
    align-items: center;
    padding: 15px 20px 0;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.cert-card h3 {
    font-size: 1.5rem;
    color:#132541
}

.cert-card img {
    width: 100%;
    height: 130px;
    border-radius: 16px;
    transition: 0.5s ease-in-out;
}

.cert-card div {
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.cert-card h3 {
    margin: 10px 0 20px;
}

:is(p, a) {
    /* display: none; */
    transition: all 0.5s ease-in-out;
}

.cert-card p {
    margin-bottom: 10px;
}

.cert-card a {
    text-decoration: none;
    background-color: #2525E7;
    color: white;
    padding: 8px 10px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.cert-card:hover {
    height: 340px;
}

.cert-card:hover img {
    width: 80%;
    transform: translateY(-40px);
}

.cert-card:hover p,
.cert-card:hover a {
    display: inline-block;
}

.cert-card a:hover {
    border: 1px groove transparent;
    box-shadow: 0 2px 12px gray;
    opacity: 0.9;
}

/* Contact */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding-top: 1rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Footer */

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Responsive Design */

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .services-tiers {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }

  footer,
  footer p {
    font-size: 1.2rem;
  }
}